{%extends 'accounts/base.html'%}
{%load leaflet_tags%}
{%leaflet_js%}
{%leaflet_css%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'routing/leaflet-machine.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
	<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" ></script><!--/used-->
	<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/easy-button.js' %}" ></script>
{%block content%}
<div class="container-fluid">
{%if user.is_authenticated and user.is_supplier%}
<div class="container-fluid text-white p-1">
<div class="card-header" style=background-color:forestgreen;>
<h1 align=center>{{user.username}} Suppliers Product.</h1>
</div>
</div>
<div class="button p-1" align=right>
<a href="{%url 'business:add'%}"><button class="btn btn-outline-primary">+Add Products</button></a>
  </div>
<div class="card border-white">
<div class="card-body">
<div class="row">
  <div class="col-sm-9">
    <div class="row">
{%for prod_obj in prod_obj%}
<div class="card border-primary col-sm-2 m-2 p-1" align=center>
<img src="{{prod_obj.product_image.url}}" height='200' alt="Edit">
{{prod_obj.product_name}}<br>
{{prod_obj.price}}<br>
{{prod_obj.category}}
<br>
<a href="{%url 'business:detail' prod_obj.id%}"><button class="btn btn-outline-warning p-1 m-1">View Product</button></a>
</div>
{%endfor%}
</div>
</div>
<div class="col-sm-3">
  <div class="card border-primary">
    <div class="card-header text-white" style=background-color:navy;>
<h5>Chat Room</h5>
</div>
<div class="card-body">

  </div>
</div>
  </div>
</div>
</div>
</div>
</div>

{%elif user.is_authenticated and user.is_customer%}
<h5>You are a customer</h5>
<!--Mapping============================================================================-->
<h1>Map</h1>
<style type="text/css">
		#gis {width: 100%;height:450px;}
	</style>
<script type="text/javascript">
function our_layers(map,options){
	var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
  var datasets=new L.GeoJSON.AJAX("{%url 'business:county'%}",{//data for county
		/*=================================not working=================
		style: function colors(feature){   ///adding styling to counties
			switch:(feature.properties.counties){
				case 'NAKURU':
				return{
					color:'orange',
					fillOpacity:0.8,
				}}},*/

    onEachFeature: function(feature,layer){
      layer.bindPopup(feature.properties.name.toString())//popup
    }
  });
  var Points=new L.GeoJSON.AJAX("{%url 'business:supply'%}",{
    onEachFeature: function(feature,layer){
      layer.bindPopup(feature.properties.telephone.toString())
  }
  });
  datasets.addTo(map);
  Points.addTo(map);
	/*==================================================================================*/

	var baseLayers={
		'OSM':osm
	};
	var groupedOverlays = {
"Layers": {
 "counties": datasets,
 'Suppliers':Points
}
};

L.control.groupedLayers(baseLayers, groupedOverlays,option).addTo(map);
/*=============================================not working============================*/
var routing=L.Routing.control({
		  waypoints: [
		    L.latLng(-0.23, 36.87),
		    L.latLng(0.23, 37.64)
		  ]
		})

		L.easyButton('fa-compass',
		  function (){
		    $('.leaflet-routing-container').is(':visible') ? routing.removeFrom(map) : routing.addTo(map)
		  },
		  'Routing'
		).addTo(map);

		function createButton(label, container) {
		    var btn = L.DomUtil.create('button', '', container);
		    btn.setAttribute('type', 'button');
		    btn.innerHTML = label;
		    return btn;
		}

}
  </script>
	<div class="container">
		<div class="jumbotron">
{%for sup in sup%}
<img src="{{sup.image.url}}" width="200" height='150' alt="Edit">
{{sup.user.username}}
<a href="{%url 'business:mysupplier' sup.id%}"><button>View Supplier</button></a>
{%endfor%}
					<fieldset class="sticky-bottom">
{%leaflet_map "gis" callback="window.our_layers"%}
	</fieldset>
</div>
</div>
</div>
</div>














<!--===========================================================================================================================================-->
</div>
{%else%}
<a href="{%url 'accounts:login'%}"><button>Login</button></a

{%endif%}
{%endblock%}
