{%extends 'accounts/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="container">
<div class="jumbotron">
  <div class="card">
    <div class="card-header text-white" style=background-color:dodgerblue;>
      <legend>My Profile.</legend>
      </div>
      <div class="card-body m-2">
        <div class="row">
          <div class="col-sm-2">
  <img class="rounded-circle" height="150" width="150" src="{{custProfile.image.url}}" alt="edit">
</div>
<div class="col-sm-5">
<b>Userame:</b> {{user.username}}<br>
<b>Name:</b> {{user.first_name}} {{user.last_name}}<br>
<b>Email:</b> {{user.email}}<br>
{%if custProfile.status%}
<b>Status: </b>{{custProfile.status}}<br>
{%endif%}
</div>
<div class="col-sm-5">
  <div class="card">
  <div class="card-header text-white" style=background-color:navy;>
    <h6>Interests</h6>
    </div>
    <div class="card-body">
  {%for cust in custProfile.interest.all%}
{{forloop.counter}}. {{cust.category}}
<br>
{%endfor%}
</div>
  </div>
  </div>
</div>
</div>
<div class="col-sm-10">
<div class="card border-white m-3">
  <div class="card-header text-white" style=background-color:forestgreen;>
<legend>Update Profile.</legend>
    </div>
    <div class="card-body">
<form method="POST" action="" enctype="multipart/form-data">
{%csrf_token%}
{{user_form|crispy}}
{{form|crispy}}
<button class="btn btn-outline-primary">Update Profile</button>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
{%endblock%}
