{%extends 'accounts/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="container">
  <div class="jumbotron" align=center>
    <div class="col-sm-6" align=left>
  <div class="card">
    <div class="card-header text-white" style=background-color:dodgerblue;>
<legend>Login</legend>
</div>
<div class="card-body">
<form method="POST" action="">
{%csrf_token%}
{{form|crispy}}

<a href="{%if user.is_supplier%}{%url 'accounts:profile'%}{%else%} {%url 'accounts:profilecus'%}{%endif%}"><button class="btn btn-outline-primary">Sign In</button></a>

  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
{%endblock%}
